::-moz-selection { background: yellow; }
::selection { background: yellow; }

.tag{
  background-color: #D2EAEF;
  border-radius: 5px;
  padding: 0 5px;
  font-size: .8em;
}

.message{
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 7px;
  margin: 10px 10px;
  border: 1px solid orange;
  color: orange;
  background-color: yellow;
}

table, .dataTables_wrapper{
  overflow-x: scroll !important;
}

div[style*="overflow-x"]{
  margin-top: 30px !important;
  margin-bottom: 40px !important;
}

th, td { min-width: 50px; }

span.term {
    border-bottom: 1px dotted;
}

span.remark em{
  font-size: .8;
  background-color: #2D859C;
  color: white;
  border-radius: 3px;
  padding: 2 4px;
  margin-right: 10px;
}

h2.author{
  font-size: .6em;
}

.figure{
  text-align: center;
}

img {
  border: 0;
  transition: transform .2s;
  margin: 0 30px;
  display: block;
  margin: 0 auto;
}

/*
img:hover {
  transform: scale(1.5);
}
*/

div.sourceCode + pre {
  background: #D2EAEF !important;
}

pre.cmd + pre {
  background: #D2EAEF !important;
}

div.lemma{
  padding: 10px;
  margin: 30px 10px;
  border: 1px solid gray;
}

div.definition{
  padding: 10px;
  margin: 30px 10px;
  border: 1px solid #2D859C;
  color: #2D859C;
  background-color: #D2EAEF;
}

div.exercise{
  padding: 10px;
  margin: 30px 10px;
  border: 1px solid #333333;
  color: #333333;
  background-color: #E6E6E6;
}

div.example{
  padding: 10px;
  margin: 30px 10px;
  border: 1px solid #9e9b98;
  color: #92501B;
  background-color: #F7E2D2;
}

div.theorem{
  padding: 10px;
  margin: 30px 10px;
  border: 1px solid gray;
}

div.remark, div.corollary{
  padding: 10px;
  margin: 30px 10px;
  font-style: italic;
}

div.theorem p{
  text-align: center
}

p.caption{
  margin: 0 30px;
  font-size:.9em;
}

pre.cmd+pre {
  background: #D2EAEF !important;
}

div.book-header {
  background-image: url("../img/AP_Logo_Wide_White_NL.svg") !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
  background-size: 150px 50px !important;
  margin-right: 20px !important;
}

q{
  margin: 10px 10px 10px 40px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

iframe[allowfullscreen]{
  margin: 30px 100px;
}

summary{
  margin: 10px 0px;
}

details{
  margin: 5px 30px;
}

.quote-source {
  text-align:right;
  width: 100%;
}
